.ProductionInvenContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.ProductionInvenContainer ul, li {
    text-decoration: none;
    list-style: none;
}

.ProductionInvenItem {
    margin: 5px;
    padding-right: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.ProductionInvenItem img {
    max-width: 16px;
    max-height: 16px;
}
