.b6rButton {
    width: 200px;
    height: 200px;
    border: 1px soldi salmon;
}

.GameButton {
    width: 100px;
    height: 50px;
    border: none;
    background: none;
    paddinG: 0;
}

.GameButton:hover {
    cursor: pointer;
}

.gbCoin {
    background-image: url("../../assets/buttons/coinResourceButton.png");
}

.gbWood {
    background-image: url("../../assets/buttons/woodResourceButton.png");
}

.gbStone {
    background-image: url("../../assets/buttons/stoneResourceButton.png");
}

.gbMetal {
    background-image: url("../../assets/buttons/metalResourceButton.png");
}

.gbCrop {
    background-image: url("../../assets/buttons/cropResourceButton.png");
}