.GameButton {
    width: 100px;
    height: 50px;
    border: none;
    background: none;
    paddinG: 0;
}

.GameButton:hover {
    cursor: pointer;
}

#Coin {
    background-image: url("../../assets/buttons/coinResourceButton.png");
}

#Wood {
    background-image: url("../../assets/buttons/woodResourceButton.png");
}

#Stone {
    background-image: url("../../assets/buttons/stoneResourceButton.png");
}

#Metal {
    background-image: url("../../assets/buttons/metalResourceButton.png");
}

#Crop {
    background-image: url("../../assets/buttons/cropResourceButton.png");
}