body {
    background-color: antiquewhite;
}

.AppContainer {
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "Header Header Header Store"
          "GameButtons GameButtons GameButtons Store"
          "GameButtons GameButtons GameButtons Store"
          "Console Console Extra Store"; 
}

.Header {
    display: flex;
    flex-flow: row;
    grid-area: Header;
}

.Header p, button {
    padding: 10px;
    margin: 10px;
}

.ResourceButtonContainer {
    display: flex;
    grid-area: GameButtons;
}

.BuyBuildingsContainer {
    display: flex;
    flex-flow: column;
    grid-area: Store;
}

.GameConsole {
    grid-area: Console;
}
