body {
    background-color: antiquewhite;
}

.AppContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Header, .GameView {
    display: flex;
    flex-flow: row;
}

.Header p, button {
    padding: 10px;
    margin: 10px;
}

.resourceButtonContainer {
    display: flex;
    flex-flow: row;
}