body {
    background-color: #ead4aa;
}

.AppContainer {
    max-height: 100vh;

    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "Header Header Header Store"
    "GameButtons GameButtons GameButtons Store"
    "GameButtons GameButtons GameButtons Store"
    "Console Console Extra Store"; 
}

.Header {
    width: 100%;
    display: flex;
    flex-flow: row;
    grid-area: Header;
}

.PlayerInventory {
    display: flex;
    flex-flow: row;
    justify-self: center;
    align-self: center;
}

.GameResource {
    margin: 5px;
    padding-right: 10px;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

.GameResource img {
    max-width: 16px;
    max-height: 16px;
}

.startButton{
    max-width: 88px;
    max-height: 31px;
}

.BuyBuildingsContainer {
    display: flex;
    flex-flow: column;
    grid-area: Store;
}

.GameConsole {
    grid-area: Console;
}

.GameButtons {
    display: flex;
    grid-area: GameButtons;
    margin: 5px;
}

.GameButtonsContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid brown;
    border-radius: 5px;
    }
